* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  position: absolute;
  height: 800.47px !important;
  width: 1502px;
  left: calc(50% - 1512px / 2);
  margin-top: 0px;
  background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  animation: colorChange 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  z-index: 1000;
  position: fixed;
  background: rgba(129, 46, 148, 0.178);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.02);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.container-manual {
  /* Auto layout */
  position: absolute;
  left: 96px;
  top: 215.97px;
  margin-right: -1000px !important;
}
.card {
  position: absolute;
  top: 250px;
  left: 280px;
  box-sizing: border-box;
  display: flex !important;
  width: 265.62px;
  height: 94.5px;
  background: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important ;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.02) !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emot-size {
  width: 28px;
  height: 59px;
  font-size: 50px;
}

#main .img-edit {
  position: absolute;
  width: 300px;
  height: 295.97px;
  left: 599px;
  background: url(me.png);
  box-shadow: 0px 0px 2.66667px 5.33333px rgba(255, 255, 255, 0.6);
  filter: drop-shadow(-50px -20px 40px rgba(227, 135, 255, 0.25)) drop-shadow(0px 50px 40px rgba(255, 219, 57, 0.3)) drop-shadow(50px -20px 40px rgba(118, 255, 255, 0.3));
  border-radius: 148.99px;
}

#main .edit-text {
  position: absolute;
  top: 29rem;
  left: 28.5rem;
  color: white;
}

#main .margin-edit {
  text-decoration: none;
}
#main .edit-text h1 {
  font-size: 70px;
}
#main .edit-text h5 {
  opacity: 60%;
  margin-bottom: 30px;
  font-size: 20px;
}

#main .line {
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 80px;
  left: 756px;
  bottom: 65px;

  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

#main2 {
  position: absolute;
  height: 700.47px !important;
  width: 1502px;
  left: calc(50% - 1512px / 2);
  top: 730.88px;
  background: #03001e;
}

#main2 .line {
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 80px;
  left: 756px;
  top: 0px;
  background: #feac5e80;
  border-left: 2px solid rgba(254, 172, 94, 0.5);
}

#main2 .text-content {
  position: absolute;
  top: 125px;
  width: 1206px;
  height: 228px;
  left: calc(50% - 1206.04px / 2 + 0.1px);
}
#main2 .text-content h1 {
  font-weight: 600;
  font-size: 95px !important;
  color: white;
  line-height: 114px;
}

#main2 .text-content .rainbow {
  /* Is how it works. */

  margin-left: 250px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 95px;
  line-height: 114px;
  /* or 120% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1px;
  background: linear-gradient(90deg, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
  animation: colorChange 9s ease infinite;
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main2 .text-content h2 {
  color: rgba(255, 255, 255, 0.6);
}

#main2 .line2 {
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 80px;
  left: 756px;
  bottom: 40px;
  background: #feac5e80;
  border-left: 2px solid rgba(199, 121, 208, 0.5);
}
#main2 .line3 {
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 80px;
  left: 215px;
  bottom: -38px;
  background: #feac5e80;
  border-left: 2px solid rgba(199, 121, 208, 0.5);
}

#main2 .horizontal-line {
  box-sizing: border-box;
  position: absolute;
  width: 540.8px;
  height: 2px;
  left: 215px;
  bottom: 40px;
  border-top: 2px solid rgba(199, 121, 208, 0.5);
}
#main3 {
  position: absolute;
  height: 800.47px !important;
  width: 1502px;
  left: calc(50% - 1512px / 2);
  top: 1430.88px;
  background: #03001e;
  padding-bottom: 900px;
}

#main3 h1 {
  font-size: 60px !important;
}

#main3 h4 {
  color: rgba(199, 121, 208, 0.5);
}

#main3 .manual-card {
  width: 454px !important;
  height: 148.38px;
  background: rgba(72, 53, 90, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 32px rgba(31, 38, 135, 0.12);
  border-radius: 10px;
}

#main3 .manual-card h5 {
  font-size: 27px;

  background: linear-gradient(45deg, #a770ef 0%, #cf8bf3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main3 .manual-card .web-design {
  background: linear-gradient(45deg, #ef629f 0%, #eecda3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main3 .manual-card .it-support {
  background: linear-gradient(45deg, #20bdff 0%, #a5fecb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#main3 .manual-card p {
  font-size: 15px;
  font-weight: 600;
}

#main3 .margin-card {
  margin-top: 7rem !important;
  margin-left: 12rem;
}

#main3 .line-2 {
  box-sizing: border-box;
  position: absolute;
  width: 86px;
  height: 112px;
  right: 315px;
  bottom: 150px;
  border-left: 2px solid rgba(75, 192, 200, 0.5);
}

#main3 .horizontal-line {
  box-sizing: border-box;
  position: absolute;
  width: 339.19px;
  height: 2px;
  left: 763px;
  bottom: 150px;
  border-top: 2px solid rgba(75, 192, 200, 0.5);
}

#main3 .line-3 {
  box-sizing: border-box;
  position: absolute;
  width: 86px;
  height: 112px;
  right: 654px;
  bottom: 40px;
  border-left: 2px solid rgba(75, 192, 200, 0.5);
}
#main3 img {
  width: 375px;
  height: 455px;
}

i.code {
  color: #20bdff;
  font-size: 70px;
  padding-left: 1rem;
  margin-top: -2rem;
  position: absolute;
  left: 162px;
  top: 300px;
}

i.js {
  position: absolute;
  left: 250px;
  bottom: 100px;
  width: 44px;
  height: 50px;
  top: 600px;
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #fbd485;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

i.bootstrap {
  position: absolute;
  left: 550px;
  top: 300px;
  width: 62px;
  height: 55px;

  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 55px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: rgba(156, 108, 235, 0.953);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

i.github {
  position: absolute;
  left: 550px;
  bottom: 100px;
  width: 59px;
  height: 61px;

  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 61px;
  /* identical to box height, or 102% */

  display: flex;
  align-items: center;

  color: #ef629f;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  top: 600px;
}

#main4 {
  position: absolute;
  width: 1502px;
  height: 1688px;
  top: 2200px;
  left: calc(50% - 1512px / 2);
  bottom: -1400px;
  background: #03001e;
  margin-top: 100px;
}

#main4 h4,
h1 {
  color: white;
}

#main4 h4 {
  font-size: 29px;
  color: rgba(14, 210, 247, 0.6);
}

#main4 h1 {
  size: 65px;
  weight: 600;
  color: white;
}

#main4 .syahrul {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
}

#main4 .img-projects {
  border-radius: 30px;
  border: 2px solid white;
}

#main4 .margin-project {
  margin-top: 100px !important;
  margin-left: 100px;
}

#main4 .text-wrap {
  margin-top: 100px;
}

#main4 h2 {
  color: white;
  opacity: 50%;
}

#main4 .gitlab {
  width: 185.62px;
  height: 30px;
  text-align: center !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  /* or 150% */

  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main4 .line-4 {
  box-sizing: border-box;

  position: absolute;
  width: 2px;
  height: 112px;
  left: calc(50% - 2px / 2);
  top: 1100px;

  border-left: 2px solid rgba(251, 212, 133, 0.5);
}

#main4 .text-wrap-about {
  margin-top: 170px;
}

#main4 .text-about {
  color: #fbd48599;
}
#main4 .emoji {
  width: 275px;
  height: 300px;
  margin-top: -50px;
  margin-left: -40px;
}

#main4 mt-5 {
  margin-top: 100px !important;
}

#main4 .margin-about-me {
  margin-top: 80px;
}

#main4 .manual-card {
  width: 408px;
  height: 199.5px;
  background: rgba(72, 53, 90, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 32px rgb(31 38 135 / 12%);
  border-radius: 10px;
}

#main4 .manual-card2 h5 {
  font-size: 27px;
  background: linear-gradient(45deg, #a770ef 0%, #cf8bf3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main4 .education {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  background: linear-gradient(120deg, #ff5acd 0%, #fbda61 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main4 .certification {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  background: linear-gradient(45deg, #a6ffcb 0%, #1fa2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main5 {
  position: absolute;
  top: 3988px;
  width: 1502px;
  left: calc(50% - 1512px / 2);
  height: 1000px;
  background-color: #26243d;
}

#main5 h1 {
  color: white;
  font-size: 60px;
}

#main5 .line {
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 128px;
  left: calc(50% - 2px / 2);
  top: 200px;

  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

#main5 .rainbow {
  margin-top: 300px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 95px;
  line-height: 114px;
  font-size: 95px;
  background: linear-gradient(90deg, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
  animation: colorChange 9s ease infinite;
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#main5 .button-custom {
  width: 193.75px;
  height: 76.09px;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0px 8px 30px rgba(23, 9, 44, 0.37);
  border-radius: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
}

#main5 a {
  text-decoration: none;
  color: white;
}

#main5 .horizontal-line {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 100px;
  border-top: 2px solid rgba(199, 121, 208, 0.5);
}

#main5 .navbar-custom {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 250px;
}

#main5 ul {
  list-style: none;
}

#main5 a:hover {
  color: #c779d0;
}

.animation {
  animation: scrollDown 1.2s infinite;
}

@keyframes scrollDown {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.5);
  }

  25% {
    transform: scale(0.8);
  }

  10% {
    transform: scale(1);
  }

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(10px);
  }
}
